'fileTypes': ['asm', 's']
'foldingStartMarker': '/\\*\\*|\\{\\s*$'
'foldingStopMarker': '\\*\\*/|^\\s*\\}'
'name': 'Fujitsu F2MC-8 Assembly (asf2mc8)'
'patterns': [
  {
    'match': '\\b(addc|addcw|and|andw|clrb|clrc|clri|cmp|cmpw|daa|das|dec|decw|divu|inc|incw|jmp|mov|movw|mulu|nop|or|orw|popw|pushw|rolc|rorc|setb|setc|seti|subc|subcw|swap|xch|xchw|xor|xorw)\\b'
    'name': 'keyword'
  }
  {
    'match': '\\b(bbc|bbs|bc|beq|bge|bhs|blo|blt|bn|bnc|bne|bnz|bp|bz|call|callv|ret|reti)\\b'
    'name': 'keyword.control'
  }
  {
    'match': '\\b(a|t|ix|ep|r[0-7]|ps|sp)\\b'
    'name': 'variable.register'
  }
  {
    'match': '@(a|ix|ep)\\b'
    'name': 'variable.register'
  }
  {
    'match': '\.(F2MC8L|area|org)\\b'
    'name': 'constant.language'
  }
  {
    'captures':
      '1':
        'name': 'punctuation.definition.comment'
    'match': '(;).*$\\n?'
    'name': 'comment.line.semicolon'
  }
  {
    'match': '\\.(ascii|byte|word)\\b'
    'name': 'storage.type'
  }
  {
    'begin': '"'
    'end': '"'
    'name': 'string.quoted.double.untitled'
    'patterns': [
      {
        'match': '\\\\.'
        'name': 'constant.character.escape.untitled'
      }
    ]
  }
  {
    'match': '^[A-Za-z_][A-Za-z0-9_]*:'
    'name': 'entity.name.function.label'
  }
  {
    'match': '#?0x[0-9a-fA-F]+'
    'name': 'constant.numeric.hex'
  }
  {
    'match': '#?0b[0-1]+'
    'name': 'constant.numeric.binary'
  }
  {
    'match': '#[0-9]+'
    'name': 'constant.numeric'
  }
  {
    'match': '#\'.'
    'name': 'constant.character.string'
  }
]
'scopeName': 'source.assembly.f2mc8.asf2mc8'
