'fileTypes': ['asm', 's']
'foldingStartMarker': '/\\*\\*|\\{\\s*$'
'foldingStopMarker': '\\*\\*/|^\\s*\\}'
'name': 'Fujitsu F2MC-8 Assembly (asf2mc8)'
'patterns': [
  {
    'match': '(bc|beq|bge|bhs|blo|blt|bn|bnc|bne|bnz|bp|bz|call|jmp)(\\s+)([^\\d@][a-zA-Z_\\d]+)'
    'captures':
      '1':
        'name': 'keyword.mnemonic'
      '3':
        'name': 'entity.name.function.identifier'
  }
  {
    'match': '(bbc|bbs)\\s+([^\\d@][a-zA-Z_\\d]+:([0-7]))\\s*,\\s*([^\\d][^\\s]+)'
    'captures':
      '1':
        'name': 'keyword.mnemonic'
      '3':
        'name': 'constant.numeric.bittest'
      '4':
        'name': 'entity.name.function.identifier'
  }
  {
    'match': '(bbc|bbs)\\s+(\\d[x\\da-fA-F]+):([0-7])\\s*,\\s*([^\\d][^\\s]+)'
    'captures':
      '1':
        'name': 'keyword.mnemonic'
      '2':
        'name': 'constant.numeric'
      '3':
        'name': 'constant.numeric.bittest'
      '4':
        'name': 'entity.name.function.identifier'
  }
  {
    'match': '\\b(addc|addcw|and|andw|bbc|bbs|bc|beq|bge|bhs|blo|blt|bn|bnc|bne|bnz|bp|bz|call|callv|clrb|clrc|clri|cmp|cmpw|daa|das|dec|decw|divu|inc|incw|jmp|mov|movw|mulu|nop|or|orw|popw|pushw|ret|reti|rolc|rorc|setb|setc|seti|subc|subcw|swap|xch|xchw|xor|xorw)\\b'
    'name': 'keyword.mnemonic'
  }
  {
    'match': '\\b(a|t|ix|ep|r[0-7]|ps|sp)\\b'
    'name': 'variable.register'
  }
  {
    'match': '@(a|ix|ep)\\b'
    'name': 'variable.register'
  }
  {
    'match': '\.(F2MC8L|area|org)\\b'
    'name': 'constant.language'
  }
  {
    'captures':
      '1':
        'name': 'punctuation.definition.comment'
    'match': '(;).*$\\n?'
    'name': 'comment.line.semicolon'
  }
  {
    'match': '\\.(ascii|byte|word)\\b'
    'name': 'storage.type'
  }
  {
    'begin': '"'
    'end': '"'
    'name': 'string.quoted.double.untitled'
    'patterns': [
      {
        'match': '\\\\.'
        'name': 'constant.character.escape.untitled'
      }
    ]
  }
  {
    'match': '^[A-Za-z_][A-Za-z0-9_]*:'
    'name': 'entity.name.function.label'
  }
  {
    'match': '(:)([0-7])'
    'captures':
      '2':
        'name': 'constant.numeric.bittest'
  }
  {
    'match': '(#|\\+|\\s)(0x[\\da-fA-F]+)'
    'captures':
      '2':
        'name': 'constant.numeric.hex'
  }
  {
    'match': '(#|\\+|\\s)(0b[01]+)'
    'captures':
      '2':
        'name': 'constant.numeric.bin'
  }
  {
    'match': '(#|\\+|\\s)([\\d]+)'
    'captures':
      '2':
        'name': 'constant.numeric'
  }
  {
    'match': '(#|\\s)(\'.)'
    'captures':
      '2':
        'name': 'constant.character.string'
  }
]
'scopeName': 'source.assembly.f2mc8.asf2mc8'
